@using EducationalPaperworkWeb.Domain.Domain.Enums.UserAccount
@using EducationalPaperworkWeb.Domain.Domain.ViewModels
@model UserViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>     
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/home/admin/request-table.js"></script>
    <script src="~/js/home/chat/file-interaction.js"></script>
    <script src="~/js/home/chat/append-message.js"></script>
    <script src="~/js/home/chat/chat-interaction.js"></script>
    <script src="~/js/home/chat/create-request.js"></script>
    <script src="~/js/home/chat/request-window-handler.js"></script>
    <script src="~/js/home/chat/templates.js"></script>
    <script src="~/js/home/hub/hub-client.js"></script>
    <link rel="stylesheet" href="~/css/chat-styles.css" />
    <style>
        .col-left {
            width: 17%;
        }

        .col-right {
            width: 83%;
        }
    </style>
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class=" chat col-left">
                <div class="card mb-sm-3 mb-md-0 contacts_card">
                    <div class="chat-card-header">
                        @if (Model.UserRole == Role.Student){
                            <button id="create-chat-btn" class="create_chat_btn">
                                    <i class="material-icons">
                                        add_box
                                    </i>
                                <span class="button-text">
                                    Створити звернення
                                </span>
                                    <span class="material-symbols-outlined edit-square">
                                        edit_square
                                    </span>
                            </button>
                        }
                        else if(Model.UserRole == Role.Admin){
                            <button id="get-requests-btn" class="create_chat_btn">
                                    <span class="material-symbols-outlined" style="padding-right: 7px;">
                                        lists
                                    </span>
                                <span class="button-text">
                                    Перелік звернень
                                </span>
                                    <span class="material-symbols-outlined edit-square">
                                        edit_square
                                    </span>
                            </button>
                        }
                    </div>
                    <div class="chat-card-body contacts_body">
                        <form id="chat-list">
                            @foreach (var chat in Model.Chats)
                            {
                                <button value="@chat.Id" class="chat_btn">
                                    <span class="button-text">
                                        @chat.Name
                                    </span>
                                    <span class="material-symbols-outlined">
                                        more_horiz
                                    </span>
                                </button>
                            }
                        </form>
                    </div>
                    <div class="chat-card-footer">
                        <form asp-controller="UserAccount" asp-action="LogOut" method="post">
                            @Html.AntiForgeryToken()
                            <button class="logout_btn" type="submit">
                                <i class="material-icons">exit_to_app</i>
                                Вийти з аккаунту
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="chatContainer" class="chat col-right">
                <div class="card">
                    <div id="card-header" class="card-header msg_head" style="visibility: hidden">
                        <div class="d-flex bd-highlight">
                            <div class="user_info">
                                <span id="companion-name"></span>
                                <span id="action_menu_btn" class="toggle_menu"><i class="fas fa-angle-down"></i></span>
                                <div class="action_menu">
                                    <ul>
                                        <li><i class="fas fa-user-circle"></i> View profile</li>
                                        <li><i class="fas fa-users"></i> Add to close friends</li>
                                        <li><i class="fas fa-plus"></i> Add to group</li>
                                        <li><i class="fas fa-ban"></i> Block</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body msg_card_body">
                        @if (Model.UserRole == Role.Student){
                            <div class="hello-form">
                                Оберіть чат або надішліть звернення для його створення
                            </div>
                        } else if (Model.UserRole == Role.Admin) {
                            <div class="hello-form">
                                Оберіть чат або візьміть звернення на розгляд на сторінці звернень
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        <form id="sendMessageForm" style="visibility: hidden">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <button type="submit" class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></button>
                                </div>
                                <input id="inputMessage" name="message" class="form-control type_msg"  maxlength="600" placeholder="Введіть повідомлення..."></input>
                                <div class="input-group-append">
                                    <button type="submit" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>                    
        </div>
    </div>
    <script>
        var senderId = '@Model.UserId';
        var selectedChatId;

        $(document).ready(function () {
            $('#inputMessage').on('keypress', function (e) {
                if (e.keyCode == 13 && !e.shiftKey) {
                    e.preventDefault();
                    sendMessage();
                }
            });

            $('.send_btn').click(function (e) {
                if ($(this).hasClass('send_btn')) {
                    e.preventDefault();
                    sendMessage();
                }
            });

            $('#create-chat-btn').click(function (e) {
                e.preventDefault();
                setModal();
                removeChatFocus();
                myModalOpen();

            });

            $(document).on('keypress', '#textInput', function (e) {
                if (e.keyCode == 13 && !e.shiftKey) {
                    e.preventDefault();
                    processTextInput();
                }
            });

            $(document).on('click', '.modal-button', function (e) {
                e.preventDefault();
                processTextInput();
            });

            $(document).on('click', '#close-modal', function (e) {
                e.preventDefault();
                setGreetings();
            });

            $('#textInput').focus(function () {
                $('#errorText').text('');
            });

            $(document).on('click', '.chat_btn', function (e) {
                e.preventDefault();
                selectChat($(this));
            });

            $('#action_menu_btn').click(function () {
                $('.action_menu').toggle();
            });

            $(document).on('focus', '.type_msg', function () {
                $('.attach_btn, .send_btn, .type_msg').addClass('type_msg_focus');
            });

            $(document).on('blur', '.type_msg', function () {
                $('.attach_btn, .send_btn, .type_msg').removeClass('type_msg_focus');
            });

            $('.attach_btn').click(function (e) {
                e.preventDefault();
                AddFile();
            });

            $(document).on('click', '#get-requests-btn', function (e) {
                e.preventDefault();
                setListRequests();
            });

            $(document).on('click', '.take_appeal_btn', function () {
                var appealId = $(this).val();
                handleTakeAppeal(appealId, senderId);
            });
        });
    </script>
</body>
</html>
