body,
html {
    height: 100%;
    margin: 0;
    background: #7F7FD5;
    background-color: #FF212121;
}

.chat {
    margin: 0px,0px,0px,0px;
}

.card {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-bottom: 0 !important;
}

.card-footer {
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

    .search:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

    .type_msg:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.attach_btn {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.create_chat_btn {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    margin-bottom: 20px;
    height: 50px;
}

.chat_btn {
    background-color: rgba(33, 33, 33, 0.8) !important;
    border: 0 !important;
    color: white !important;
    height: 50px;
    width: 100%;
}

.contacts_card {
    background-color: rgba(33,33,33, 0.9);
}

.contacts {
    list-style: none;
    padding: 0;
}

    .contacts li {
        text-align: start;
        height: 40px;
        transition: color 0.2s;
    }

        .contacts li:hover {
            color: rgba(33,33,33, 0.7);
        }

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 32px;
    width: 32px;
    vertical-align: central;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: center;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 13px;
    right: 13px;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

    .user_info span {
        font-size: 20px;
        color: white;
    }

    .user_info p {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.6);
    }

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    background-color: #82ccdd;
    padding: 3px 40px 3px 15px;
    position: relative;
    max-width: 70%;
    border: 0, unset;
    border-radius: 3px;
}

.msg_time {
    position: absolute;
    bottom: 1px;
    right: 10px;
    font-size: 10px;
    color: #555;
}


.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    top: 30px;
    right: 15px;
    display: none;
}

    .action_menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .action_menu ul li {
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 5px;
        }

            .action_menu ul li i {
                padding-right: 10px;
            }

            .action_menu ul li:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.2);
            }


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


    /* Handle on hover */

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
