body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../images/khpi.png') no-repeat center center fixed;
    background-size: cover;
    color: black;
    margin: 0;
}


/* Стили для блока логина */
.login {
    width: 400px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.80);
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    position: relative;
}

    .login form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }

.validation-message {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -15px;
    margin-left: 9px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    white-space: pre-wrap;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.input-field {
    position: relative;
}

.login h1 {
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    margin-right: 10px; /* Добавим отступ между заголовком и span */
    margin-bottom: 0; /* Убираем отступ снизу */
}


/* Стили для меток в блоке логина */
.login label {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
    margin-bottom: 0px;
}

/* Стили для ввода в блоке логина */
.login input,
.login .password input {
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    line-height: 30px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
    width: 100%;
}

/* Стили для кнопки в блоке логина */
.login button {
    background: rgba(39, 69, 107, 0.86);
    filter: brightness(85%);
    height: 40px;
    line-height: normal;
    border-radius: 20px;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.link-text {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: unset;
    cursor: pointer;
}

    .link-text:hover {
        color: white;
    }

.link-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

/* Стили для блока пароля */
.password {
    position: relative;
    width: 100%;
}

.password-control {
    position: absolute;
    top: 11px;
    right: 6px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../icons/1490793864-user-interface16_82335.png) 0 0 no-repeat !important;
    background-position: center;
}

    .password-control.view {
        background: url(../icons/eye_89413.png) 0 0 no-repeat !important;
    }

.password input {
    width: 100%;
}

/* Стили для формы регистрации */
.registration-form {
    width: 600px;
    margin: 20px auto;
}

    .registration-form input {
        height: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .registration-form button {
        height: 30px;
        line-height: normal;
        margin-top: 20px;
        margin-bottom: 10px;
    }

.registration-columns {
    display: flex;
    justify-content: space-between;
}

.registration-column {
    width: 42%;
}

/* Стили для селекта в блоке логина */
.login select,
.login input[type="date"] {
    background: rgba(255, 255, 255, 0.3);
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
    width: 100%;
}

/* Стили для контейнера ввода в блоке регистрации */
.registration-input-container {
    position: relative;
}

.custom-validation-message {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    white-space: pre-wrap;
}

.custom-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    appearance: none;
}

/* Стили для выпадающего списка в блоке селекта */
.select-items {
    position: absolute;
    background-color: black;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Стили для опции в блоке селекта в блоке логина */
.login option {
    background: black;
}

/* Стили для контрола пароля в блоке логина */
.password-control {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url('../images/open.png') no-repeat center center;
}

.registration-input-container.password input {
    height: 30px; /* Set the desired height */
    line-height: 30px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
}