@model EducationalPaperworkWeb.Domain.Domain.Models.User.UserLogIn

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація</title>
    <link rel="stylesheet" href="~/css/logRegStyles.css">
</head>
<body>

    <div class="login">
        <form>
            <h1>LOG IN</h1>

            <label>Email</label>
            <input asp-for="Email" type="text" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <label>Password</label>
            <div class="password">
                <input type="password" id="password-input" name="password">
                <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>

            <button asp-action="LogIn" class="btn btn-primary" type="submit">SUBMIT</button>

            <div class="link-container">
                <a asp-action="Registration" class="link-text">Sign up</a>
                <a asp-action="ChangePassword" class="link-text">Recover password</a>
            </div>
        </form>
    </div>

</body>
</html>

<script>
    function show_hide_password(target) {
        var input = document.getElementById('password-input');
        if (input.getAttribute('type') == 'password') {
            target.classList.add('view');
            input.setAttribute('type', 'text');
        } else {
            target.classList.remove('view');
            input.setAttribute('type', 'password');
        }
        return false;
    }
</script>
