@using EducationalPaperworkWeb.Domain.Domain.Enums.UserAccount
@model EducationalPaperworkWeb.Domain.Domain.Models.UserEntities.UserSignUp

@{
    var currentDate = DateTime.Now;
    var minDate = currentDate.AddYears(-80);
    var maxDate = currentDate.AddYears(-15);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="~/css/reglog.css">
    <script src="~/js/show_hide_password.js"></script>
    <script src="~/js/group-input.js"></script>
</head>
<body>

    <div class="login registration-form">
        <form method="post">

            <h1>SIGN UP</h1>

            <div class="registration-columns">
                <div class="registration-column">
                    <!-- Левая часть формы -->
                    <div class="registration-input-container">
                        <label>Name</label>
                        <input asp-for="Name" maxlength="25" />
                        <span asp-validation-for="Name" class="text-danger custom-validation-message"></span>
                    </div>

                    <div class="registration-input-container">
                        <label>Surname</label>
                        <input asp-for="Surname" maxlength="25" />
                        <span asp-validation-for="Surname" class="text-danger custom-validation-message"></span>
                    </div>

                    <div class="registration-input-container">
                        <label>Patronymic</label>
                        <input asp-for="Patronymic" maxlength="25" />
                        <span asp-validation-for="Patronymic" class="text-danger custom-validation-message"></span>
                    </div>

                    <div class="registration-input-container">
                        <label>Date of Birth</label>
                        <input asp-for="DateOfBirth" type="date" min="@minDate.ToString("yyyy-MM-dd")" max="@maxDate.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="DateOfBirth" class="text-danger custom-validation-message"></span>
                    </div>

                    <div class="registration-input-container">
                        <label>Faculty</label>
                        <select asp-for="Faculty" class="custom-select" asp-items="Html.GetEnumSelectList<Faculty>()">
                        </select>
                        <span asp-validation-for="Faculty" class="text-danger custom-validation-message"></span>
                    </div>
                </div>

                <div class="registration-column">
                    <!-- Правая часть формы -->
                    <div class="registration-input-container">
                        <label>Group</label>
                        <input asp-for="Group" id="groupInput" maxlength="5" />
                        <span asp-validation-for="Group" class="text-danger custom-validation-message"></span>
                    </div>

                    <div class="registration-input-container">
                        <label>Email</label>
                        <input asp-for="Email" maxlength="50" />
                        <span asp-validation-for="Email" class="text-danger custom-validation-message"></span>
                    </div>

                    <div class="registration-input-container">
                        <label>Phone</label>
                        <input asp-for="Phone" maxlength="10" />
                        <span asp-validation-for="Phone" class="text-danger custom-validation-message"></span>
                    </div>

                    <div class="registration-input-container password">
                        <label>Password</label>
                        <input asp-for=Password type="password" id="PasswordInput" name="Password" maxlength="50">
                        <a href="#" id="Password" class="password-control" onclick="return show_hide_password('PasswordInput', this);"></a>
                        <span asp-validation-for="Password" class="text-danger custom-validation-message"></span>
                    </div>

                    <div class="registration-input-container password">
                        <label>Repeat Password</label>
                        <input asp-for="RepeatPassword" type="password" id="RepeatPasswordInput" name="RepeatPassword" maxlength="50">
                        <a href="#" id="RepeatPassword" class="password-control" onclick="return show_hide_password('RepeatPasswordInput', this);"></a>
                        <span asp-validation-for="RepeatPassword" class="text-danger custom-validation-message"></span>
                    </div>

                </div>
            </div>

            <button asp-action="SignUp" class="btn btn-primary" type="submit">SUBMIT</button>

            <div class="link-container">
                <a asp-action="SignIn" class="link-text">Sign in</a>
                <a asp-action="RestorePassword" class="link-text">Restore password</a>
            </div>

        </form>
    </div>

</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        initializeGroupInputValidation('groupInput');
    });
</script>